
.tab-bar {
  background-color: #5B79A4;
  height: 50px;
  
}

.menu {
  background-color: #D9D9D9;
  display: flex;
  overflow: hidden; /* เพิ่มส่วนนี้เพื่อป้องกัน overflow */
}


.left-box {
  width: 200px;
  height: 92vh;
  background-color: #ffffff;
}



.tab.active {
  /* CSS เมื่อแท็บถูกเลือก (คลิก) */
  background-color: #B7C4CF;
}

.tab-item {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 5px;
  background-color: #B7C4CF;
  border-radius: 10px;
  text-align: center;
  margin-top: 20px;
}

.tab-item.active {
  background-color: #fff;
  border: 1px solid #50555C; /* กำหนดความหนาของกรอบ */
  border-radius: 10px; /* กำหนดความโค้งของกรอบ */
}


.menu-item{
      margin: 10px;
      
}
