/* .my-component {
    width: 1052px;
    height: 580px;
    background-color: white;
    margin-left: 150px;
    margin-top: 35px;
    margin-right: -50px;
   border-radius: 10px;
  } */
 
  @media print {
    body * {
      visibility: hidden;
    }
    .my-component, .my-component * {
      visibility: visible;
    }
    .my-component {
      position: absolute;
      left: 0;
      top: 0;
    }
  }
  