.my-component {
    width: 1052px;
    height: 580px;
    background-color: white;
    margin-left: 150px;
    margin-top: 50px;
    margin-right: -50px;
   border-radius: 10px;
   &.edit-mode {
    background-color: transparent; 
  }
  }
  .menu-tabs-horizontal {
    display: flex;
    margin-left: 50px;
  }
  
  .menu-tab {
    padding: 10px;
    margin: 50px;
    margin-left: 60px;
    cursor: pointer;
    background-color: #D9D9D9;
    border-radius: 10px;
    text-align: center;
    width: 180px;

  }
  
  .menu-tab.active {
    background-color: #B7C4CF;
    border: 1px solid #B7C4CF;
  }
  .menu-tab .tab-content {
    display: flex;
    align-items: center;
  }
  .menu-tab img {
    width: 80px;
    height: 80px;
    margin-right: 8px;
  }

  